.module ul.actionlist {
    margin-left:0;
    padding-right: 20px;
}

#content-main {
    display: flex;
    align-content: center;
    gap: 5px;
    margin-left: 0;
}

table {
  border-collapse: collapse;
  width: 25%;
}

td, th {
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px solid var(--hairline-color);
    vertical-align: middle;
    padding: 10px;
}

.content {
    margin-top: 30px;
}

.app_auth {
    flex-direction: column;
}

#container{
    display: block;
}

body.dashboard {
    width: 1550px;
}

.hide {
    display: none;
}

.hideshow {
    width: 260px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #264b5d;
}

button.excel {
    width: 260px;
    height: 40px;
    font-size: 15px;
    color: white;
    background-color: darkolivegreen;
}

a.excel {
    color: white;
}

